table {
    font-family: arial, sans-serif;
    border-collapse: collapse;

}

#table{
    width: 60%;
    float: left;
}
    #my-cart{
    width: 35%;
    float: right;
    }

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}